/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,700|Work+Sans:400,700");
/* gray */
/* red */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.metaNav {
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3em;
  padding: 1em 2em 0 0;
  background-color: #FFF; }
  .metaNav #phone {
    margin-right: 2em; }
  .metaNav span {
    display: inline-flex;
    background-size: contain;
    width: 25px;
    height: 15px;
    margin-right: .5em; }
  .metaNav #phone span {
    background: url("../img/icons/phone.svg") no-repeat;
    background-position: right; }
  .metaNav #mail span {
    background: url("../img/icons/mail.svg") no-repeat; }

.logo {
  position: absolute;
  top: -2em;
  width: 150px;
  height: 150px;
  margin-left: 2em; }

nav {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  padding-right: 2em;
  background-color: #565656; }
  nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none; }
    nav ul li {
      display: block;
      padding: 0 0 0 3em; }
      nav ul li a {
        position: relative;
        display: inline-block;
        margin: 0 25px;
        outline: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.2em;
        color: #FFF; }
      nav ul li:hover, nav ul li:focus {
        outline: none; }

/* Effect 5: same word slide in */
.cl-effect-5 li a {
  overflow: hidden;
  padding: 4px 4px;
  height: 1em; }

.cl-effect-5 li a span {
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.cl-effect-5 li a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: 200;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.cl-effect-5 li a:hover span,
.cl-effect-5 li a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%); }

.hamburger {
  display: none !important;
  position: fixed;
  right: 1em;
  top: 3.3em;
  z-index: 3; }

@media (max-width: 1366px) {
  nav ul li {
    padding: 0; } }
@media (max-width: 992px) {
  nav {
    /* width: 100%;
    height: 100vh;
    background: $mainColor;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0; */ }
    nav ul {
      display: none;
      position: fixed;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #565656;
      padding: 0;
      margin: 0;
      animation: overlay .5s; }
  @keyframes overlay {
    0% {
      height: 0; }
    100% {
      height: 100%; } }
    nav .logo {
      z-index: 1;
      width: 115px;
      height: 115px; }

  .hamburger {
    display: block !important; } }
@media (max-width: 592px) {
  .metaNav div:nth-child(2) {
    display: none; }
  .metaNav #phone {
    margin: 0; } }
@media (max-width: 400px) {
  nav ul {
    justify-content: center; }
    nav ul li {
      height: calc(50%/4); } }
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #FFF; }

.hamburger-box {
  width: 50px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 50px;
    height: 4px;
    background-color: #FFF;
    border-radius: 0px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

body, html {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1 {
  font-size: 2.5em;
  line-height: 1em; }

h2 {
  font-size: 2.5em;
  line-height: 1em;
  color: #FFF; }

h3 {
  font-size: 1.5em;
  margin: 1.5em 0 0 0;
  color: #8A101B; }

h4 {
  transform: rotate(-90deg);
  display: flex;
  justify-content: flex-end;
  height: 100%;
  color: #565656;
  margin-left: -6.5em;
  position: relative;
  top: 16em;
  width: 234px;
  height: 2em;
  font-size: 1.3em; }

h5 {
  font-size: 1em;
  margin: 2em 0 0 0; }

p, ul li a {
  font-size: .9em;
  letter-spacing: 2px; }

a {
  color: #565656;
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

#buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 2em;
  margin-top: 2.5em; }
  #buttons .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    padding: .7em 2em; }
    #buttons .btn:first-child {
      margin-right: 2em; }
  #buttons .btnEffect {
    color: #FFF;
    transition: all 0.5s;
    position: relative; }
  #buttons .btnEffect::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #8A101B;
    border: 1px solid #8A101B;
    transition: all 0.3s; }
  #buttons .btnEffect:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  #buttons .btnEffect::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2); }
  #buttons .btnEffect:hover::after {
    opacity: 1;
    transform: scale(1, 1); }

.link {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase; }
  .link:before {
    content: "";
    width: 50px;
    height: 2px;
    margin-right: 1em; }
  .link:after {
    content: "";
    width: 50px;
    height: 2px;
    margin-left: -12.5em; }
  .link:hover:after {
    animation: .5s linkAnimation; }
@keyframes linkAnimation {
  0% {
    margin-left: -12.5em; }
  100% {
    margin-left: 0;
    width: 0; } }
.introWrapper {
  position: relative;
  top: 3em;
  background: #565656;
  width: 100%;
  height: 80vh;
  margin-bottom: 10%;
  z-index: 0; }
  .introWrapper .intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 60%;
    margin: 0 auto; }
    .introWrapper .intro .bottle {
      padding: 5em 0 0 0;
      min-width: 280px; }
    .introWrapper .intro .introText {
      padding: 6em 0 0 2em; }
      .introWrapper .intro .introText .advantages {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap; }
        .introWrapper .intro .introText .advantages .item {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          width: 50%; }
          .introWrapper .intro .introText .advantages .item span {
            display: block;
            background: url("../img/icons/checked.svg") no-repeat;
            background-size: contain;
            width: 50px;
            height: 30px;
            margin: .5em; }
          .introWrapper .intro .introText .advantages .item p {
            width: 300px; }
      .introWrapper .intro .introText h1, .introWrapper .intro .introText p {
        color: #FFF; }

.wrapper {
  margin-bottom: 4em; }
  .wrapper .intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 80%;
    margin: 0 auto; }
    .wrapper .intro .madeInAustria {
      content: "";
      width: 2px;
      height: 450px;
      background-color: #565656;
      padding: 5em 0 0 0;
      margin-left: 17em; }
    .wrapper .intro .innerWrapper {
      padding: 2em 0 0 2em; }
      .wrapper .intro .innerWrapper .ingredients {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding-left: 4em; }
        .wrapper .intro .innerWrapper .ingredients .item {
          width: 50%; }
          .wrapper .intro .innerWrapper .ingredients .item span {
            display: block;
            background: url("../img/icons/checked.svg") no-repeat;
            background-size: contain;
            width: 50px;
            height: 30px;
            margin: .5em; }
          .wrapper .intro .innerWrapper .ingredients .item p {
            width: 300px;
            margin: 0; }
      .wrapper .intro .innerWrapper h1, .wrapper .intro .innerWrapper p {
        color: #565656; }

.confiBtn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  background: #565656; }
  .confiBtn h1 {
    color: #FFF; }

.limomacher {
  background: #F2F2F2; }

.boxWrapper, .limomacher {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; }
  .boxWrapper .leftBox, .boxWrapper .rightBox, .boxWrapper .leftLimoBox, .boxWrapper .rightLimoBox, .limomacher .leftBox, .limomacher .rightBox, .limomacher .leftLimoBox, .limomacher .rightLimoBox {
    width: 50%; }
    .boxWrapper .leftBox:before, .boxWrapper .rightBox:before, .boxWrapper .leftLimoBox:before, .boxWrapper .rightLimoBox:before, .limomacher .leftBox:before, .limomacher .rightBox:before, .limomacher .leftLimoBox:before, .limomacher .rightLimoBox:before {
      content: "";
      float: left;
      padding-top: 100%; }
  .boxWrapper .leftBox, .limomacher .leftBox {
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background: #8A101B; }
    .boxWrapper .leftBox .innerBox a, .limomacher .leftBox .innerBox a {
      color: #FFF !important; }
    .boxWrapper .leftBox .innerBox .link:before, .boxWrapper .leftBox .innerBox .link:after, .limomacher .leftBox .innerBox .link:before, .limomacher .leftBox .innerBox .link:after {
      background: #FFF; }
  .boxWrapper .rightBox, .limomacher .rightBox {
    background: url("../img/gin-tonic-table.png") no-repeat;
    background-size: cover; }
  .boxWrapper .leftLimoBox, .limomacher .leftLimoBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
    .boxWrapper .leftLimoBox .innerBox, .limomacher .leftLimoBox .innerBox {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .boxWrapper .leftLimoBox .innerBox img:first-child, .limomacher .leftLimoBox .innerBox img:first-child {
        max-width: 200px;
        height: auto;
        margin-bottom: 3em; }
      .boxWrapper .leftLimoBox .innerBox img, .limomacher .leftLimoBox .innerBox img {
        max-width: 75%;
        height: auto; }
  .boxWrapper .rightLimoBox, .limomacher .rightLimoBox {
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em; }
    .boxWrapper .rightLimoBox .link, .limomacher .rightLimoBox .link {
      margin-top: 2em; }
      .boxWrapper .rightLimoBox .link:before, .boxWrapper .rightLimoBox .link:after, .limomacher .rightLimoBox .link:before, .limomacher .rightLimoBox .link:after {
        background: #565656; }

.customer {
  margin-bottom: 4em; }
  .customer h3 {
    text-align: center;
    margin: 2em 0 2em 0; }
  .customer .customerGrid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60%;
    margin: 0 auto; }
    .customer .customerGrid .item {
      box-sizing: border-box;
      max-width: 20%;
      padding: 2em;
      border-right: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2; }
      .customer .customerGrid .item:nth-child(5n+5) {
        border-right: none; }
      .customer .customerGrid .item:nth-last-child(-n+5) {
        border-bottom: none; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  background: #8A101B;
  justify-content: space-around;
  color: #FFF;
  width: 100%;
  height: 300px; }
  footer a {
    color: #FFF; }
  footer p {
    margin: 0;
    line-height: 1.4em; }
  footer .sitemap {
    list-style: none;
    padding: 0;
    margin: 0; }
    footer .sitemap li {
      overflow: hidden;
      line-height: 1.4; }
    footer .sitemap a {
      color: #FFF;
      padding: 0; }
    footer .sitemap li a span::before {
      position: absolute;
      top: 100%;
      width: 220px;
      content: attr(data-hover);
      font-weight: 700;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  footer .paymentGrid, footer .socialMedia {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 200px; }
    footer .paymentGrid .payItem, footer .socialMedia .payItem {
      max-width: 75px;
      margin-right: .3em; }
    footer .paymentGrid .socialItem img, footer .socialMedia .socialItem img {
      height: 30px;
      margin-right: 2em; }
  footer .socialMedia {
    margin-top: 3em; }

.copyright {
  background: #8A101B;
  width: 100%;
  font-size: .7em;
  color: #FFF;
  text-align: center;
  padding: .5em 0; }

@media (max-width: 1365px) {
  .introWrapper .intro {
    width: 80%; }

  .wrapper .intro .madeInAustria {
    margin-left: 8em; } }
@media (max-width: 1024px) {
  .customer .customerGrid {
    width: 80%; } }
@media (max-width: 768px) {
  h1 {
    font-size: 2em; }

  .introWrapper .intro .bottle {
    min-width: 220px; }
  .introWrapper .intro .introText {
    padding: 3em 0 0 2em; }
    .introWrapper .intro .introText .advantages {
      flex-flow: column nowrap; }
      .introWrapper .intro .introText .advantages .item {
        width: 100%; }
        .introWrapper .intro .introText .advantages .item p {
          width: 260px; }

  #buttons {
    flex-direction: column; }
    #buttons .btn {
      width: 165px;
      text-align: center; }
    #buttons .btn:first-child {
      margin: 0 0 1.5em 0; }

  .wrapper .intro {
    width: 100%; }
    .wrapper .intro .madeInAustria {
      display: none; }

  .wrapper .intro .innerWrapper .ingredients {
    padding: 0; }

  footer {
    height: auto; }

  .copyright {
    padding: 1.5em 0; }

  .customer .customerGrid {
    width: 75%; }
    .customer .customerGrid .item {
      max-width: 33.33%; } }
